@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Archivo', sans-serif;
    margin: 1em;

}

.material-symbols-outlined {
    float: right;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
    /* or any desired color */
    text-decoration: none;
    /* Removes underline, if needed */
}



#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*----------Header----------*/
header {
    display: flex;
    justify-content: space-between;
    /* Push the items to opposite ends */
    align-items: center;
    margin-bottom: 2em;
}

/*----------Nav----------*/
#topMenu {
    display: none;
    border: solid 1px black;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #DFDFDF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}




#topMenu ul {
    list-style: none;


}

#topMenu ul li {

    padding-bottom: 1em;

}

#topMenu ul li a {
    text-decoration: none;
}

.menu {
    display: block;
}




/*----------Hero Banner----------*/

.hero-banner {
    width: 100%;
    padding: 2em 4em;
    background:
        url('images/queenscollege.jpg') no-repeat right top /cover;
    margin-bottom: 1em;
}

.hero-content {
    margin-top: 2.8rem;
    margin-left: 1.9rem;
    max-width: 17.6em;
}

.hero-banner p {
    font-size: 1.25rem;
    font-weight: 400;
}


/*main*/
main {
    padding-bottom: 20px;
}

.layout {
    margin-bottom: 2rem;
}

.news, .events {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.news h2 {
    margin-bottom: 20px;
    
    color: #333;
}

.news h4 {
    margin: 30px 0px 0px;
    /* Top margin: 30px, Bottom margin: 10px */
    
    color: #555;
}

.news p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #666;
}

.news a {
    display: inline-block;
    
    /* Top margin: 10px, Bottom margin: 20px */
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.news a:hover {
    text-decoration: underline;
}

.events h2 {
    margin-bottom: 20px;
    color: #333;
}

.events p {
    
    color: #666;
}

.events a {
    display: inline-block;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}


.events img {
    width: 100%;
    margin-bottom: 20px;
}

/*----------Search Programs----------*/
.searchPrograms {
    background-color: #0033a1;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 20px;
    color: white;

}

.searchPrograms h2 {
    margin-bottom: 1em;

}

.searchPrograms p {
    margin-bottom: 1em;

}

.programNav ul {
    padding: 0;
    list-style-type: none;
}

.programNav li {
    width: 100%;
    margin-bottom: 1rem;

}

.programNav a {
    display: block;
    padding: 1em;
    background-color: #DFDFDF;
    color: black;
    border-radius: 10px;
}




.Dropdown {
    display: none;

}

.Dropdown li {
    width: 100%;
    margin: 0;

}

.Dropdown a {
    display: block;
    background-color: white;
    color: black;
}


.programNav li:hover .Dropdown {
    display: block;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}











/*----------Program Cards----------*/
.card img {
    width: 100%;
}

.card h2,
.card h3,
.card p {
    text-decoration: none;
    color: #000;
}

.programCards a {
    text-decoration: none;
    display: block;
    border: solid 1px black;
    border-radius: 10px;
    margin-bottom: 25px;
}

.programCards a:hover {
    background-color: beige;
    border-radius: 10px;
}

.cardBody {
    padding: 1em;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

footer {
    text-align: center;

}

@media (min-width: 768px) {
    #wrapper {
        width: 75%;
        margin: 0 auto;
    }

    .menu {
        display: none;
    }

    #topMenu {
        display: flex;
        align-items: center;
        position: static;
        border: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;


    }

    #topMenu ul {
        display: flex;
        list-style: none;
    }

    #topMenu ul li {
        margin-right: 30px;
    }

    .programCards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        gap: 10px;
        justify-content: space-between;

    }

    /*----------Hero Banner----------*/

    .hero-banner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
    }

    .hero-content {
        margin-top: 2.8rem;
        margin-left: 1.9rem;
        max-width: 17.6em;
    }

    .hero-banner p {
        font-size: 1.25rem;
        font-weight: 400;
    }

    /*----------Program Navigation----------*/
    .programNav ul {
        display: flex;
        justify-content: space-between;

    }

    .programNav ul li {
        width: 30%;
        position: relative;

    }

    .Dropdown a {
        white-space: nowrap;
    }

    .programNav .Dropdown li {
        width: 100%;
    }



    .programNav .Dropdown {
        display: none;
        position: absolute;
        width: 100%;
    }

    .Dropdown a:hover {
        display: block;
        background-color: aqua;
    }

    main .layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1em;
    }



}