@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Archivo', sans-serif;
    margin: 1em;

}

.material-symbols-outlined {
    float: right;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
    /* or any desired color */
    text-decoration: none;
    /* Removes underline, if needed */
}



#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*----------Header----------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

/*----------Nav----------*/
.logo {
    width: 150px;
}

#topMenu {
    display: none;
    border: solid 1px black;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#topMenu ul {
    list-style: none;
}

#topMenu ul li {
    margin-bottom: 1em;

}

#topMenu ul li a {
    text-decoration: none;
}

.menu {
    display: block;
}


.search input[type="submit"] {
    padding: 5px 10px;
    /* Button size */
    color: #fff;
    /* White text */
    background-color: #0033a1;
    /* Primary color for button */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Change cursor to pointer */
}

.search input[type="search"] {
    flex: 0;
    /* Allow the search box to take up available space */
    padding: 5px;
    /* Add some padding */
    border: 1px solid #ccc;
    /* Light border */
    border-radius: 4px;
    /* Rounded corners */
}





/*----------Hero Banner----------*/

.hero-banner {
    display: flex;
    height: 400px;
    border-radius: 10px;
    background:
        linear-gradient(0deg, #0033a1 3%, rgba(51, 145, 153, 0) 60%),
        url('images/queens.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 1em;
}

.hero-content {
    padding: 25px;
    margin-top: 200px;
    
}

.hero-content a {
    color: white;
}

.btn {
    padding: 10px 20px;
    font-weight: 700;
    background-color: #e71939;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background: #bb142d;
}

.hero-banner p {
    color: #FFF;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1em;
    text-shadow: 0px 2px 4px black;
}


/*main*/
main {
    padding-bottom: 20px;
}

.layout {
    margin-bottom: 2rem;
}

.news,
.events {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 1em;
}

.news h2 {
    margin-bottom: 20px;

    color: #333;
}

.news h4 {
    margin: 30px 0px 0px;
    /* Top margin: 30px, Bottom margin: 10px */

    color: #555;
}

.news p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #666;
}

.news a {
    display: inline-block;

    /* Top margin: 10px, Bottom margin: 20px */
    color: #0033a1;
    text-decoration: none;
    font-weight: bold;
}

.news a:hover {
    text-decoration: underline;
}

.events h2 {
    margin-bottom: 20px;
    color: #333;
}

.events p {

    color: #666;
}

.events a {
    display: inline-block;
    color: #0033a1;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.events a:hover {
    text-decoration: underline;
}


.events img {
    width: 100%;
    margin-bottom: 20px;
}

/*----------Search Programs----------*/
.searchPrograms {
    background-color: #0033a1;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 20px;
    color: white;

}

.searchPrograms h2 {
    margin-bottom: 1em;

}

.searchPrograms p {
    margin-bottom: 1em;

}

.programNav ul {
    padding: 0;
    list-style-type: none;
}

.programNav li {
    width: 100%;
    margin-bottom: 1rem;

}

.programNav a {
    display: block;
    padding: 1em;
    background-color: #DFDFDF;
    color: black;
    border-radius: 10px;
}




.Dropdown {
    display: none;

}

.Dropdown li {
    width: 100%;
    margin: 0;

}

.Dropdown a {
    display: block;
    background-color: white;
    color: black;
}

.Dropdown a:hover {
    background-color: #ccd6ec;
}


.programNav li:hover .Dropdown {
    display: block;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}











/*----------Program Cards----------*/
.category h2 {
    margin-bottom: 1em;

}

.tab1, .tab2 {
    padding: 5px 10px;
    background-color: #5577c0;
    color: white;
    border-radius: 3px;
    font-size: 12px;

}


.card h2,
.card p {
    text-decoration: none;
    color: #333;
    margin-bottom: 0.5em;
}



.programCards a {
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    margin-bottom: 25px;
    transition: background-color 0.3s;
}

.programCards a:hover {
    background-color: #ccd6ec;
    
}

.cardBody {
    padding: 1em;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

footer {
    text-align: center;

}

@media (min-width: 768px) {
    #wrapper {
        width: 75%;
        margin: 0 auto;
    }

    .logo {
        width: 150px;
    }

    .menu {
        display: none;
    }

    #topMenu {
        display: flex;
        align-items: center;
        position: static;
        border: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }

    #topMenu ul {
        display: flex;

    }

    #topMenu ul li {
        margin-right: 30px;
        margin-bottom: 0;
    }

    .programCards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 360px);
        gap: 10px;
        justify-content: space-between;

    }

    /*----------Hero Banner----------*/

    .hero-banner {
        background-position: 100% 70%;
    }


    .hero-content {
        margin-left: 50px;
        padding: 0;
        max-width: 500px;
        margin-top: 250px;
    }

    .hero-banner p {
        font-size: 1.5rem;
    }

    /*----------Program Navigation----------*/
    .programNav ul {
        display: flex;
        justify-content: space-between;

    }

    .programNav ul li {
        width: 30%;
        position: relative;

    }

    .Dropdown a {
        white-space: nowrap;
    }

    .programNav .Dropdown li {
        width: 100%;
    }



    .programNav .Dropdown {
        display: none;
        position: absolute;
        width: 100%;
    }



    main .layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1em;
    }



}