@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Archivo', sans-serif;
}

.hero-banner {
    width: 22.6875rem;
    height: 12.6875rem;
    display: flex;
    align-items: flex-start;
    background:
        url('images/QueensCollege.png') no-repeat right top;
}

.hero-content {
    margin-top: 2.8rem;
    margin-left: 1.9rem;
    max-width: 17.6em;
}

.hero-banner p {
    font-size: 1.25rem;
    font-weight: 400;
}

#topMenu{
    display: flex;
}

main{
    margin-bottom: 28rem;
}

.events {
    float: right;
}

.card{
    border: solid 1px black;
    border-radius: 10px ;
}

.card img {
    width: 100%;
}

.card h2, .card h3, .card p{
    text-decoration: none;
    color: #000;
}

.programCards a{
    text-decoration: none;
    display: block;
}

.programCards a :hover{
    background-color: beige;
}
.cardBody{
    padding: 1em;
}

@media (min-width: 720px) {
    #wrapper {
        width: 75%;
    }
    ]
  }